{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# iTerm settings
defaults write com.googlecode.iterm2 PrefsCustomFolder -string "~/.config/iterm2"
defaults write com.googlecode.iterm2 LoadPrefsFromCustomFolder -bool true

{{ end }}
