{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

formulae=(
  bat
  curl
  fastfetch
  fzf
  git
  jq
  less
  node
  nvim
  nvm
  tmux
)
casks=(
  nikitabobko/tap/aerospace
  clipy
  dbeaver-community
  iterm2
  font-jetbrains-mono-nerd-font
)
{{ if .work_device }}
  formulae+=(
    intellij-idea
    go-jira
    mitmproxy
  )
{{ else }}
  formulae+=(
    intellij-idea-ce
  )
  casks+=(
    virtualbox
  )
{{ end }}

brew update

brew install ${formulae[@]}
brew install --cask ${casks[@]}

brew cleanup

{{ end }}
